/* full body  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* banner part  */
.top-section{    
      background-image: url(images/top-bg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 90px 110px 90px;
    min-height: 100%;
    margin-bottom: 150px;
}
.section-flex{
    display: flex;
}
.container-width{
     width: 50%; 
}

.container-width img{
    width: 90%;
    margin-left: -50px;
   margin-top: -170px;
}

h1{
    font-size: 70px;
    line-height: .3em;
    color: white;
}
.h1 {
    color: #f9c011;
}
h3{
    color: white;
    font-size: 18px;
    font-weight: 300;
}
.banner-title{
    font-size: 50px;
}
h2{
    color: #262626;
    font-size: 25px;
}
h2 small{
    font-size: 18px;
}

/* mission part  */
.mission-section{
    padding: 0px 50px 100px 50px;
    margin-top: -30px;
}
.mission-column{
    width: 33.33%;
    padding: 35px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px rgb(187, 196, 209);
}
.mission-card{
    background-color: rgb(237, 245, 246);
}
.vission-card{
    background-color: rgb(255, 238, 238);
}
.goal-card{
    background-color: rgb(255, 244, 214);
}
.mission-column img {
    max-width: 100%;
}
.my-mission{
    color: black;
    text-align: center;
}

/* code part  */
.code-section{
    background-image: url("https://png.pngtree.com/background/20210716/original/pngtree-abstract-black-and-yellow-grunge-background-picture-image_1342528.jpg");
    background-repeat: no-repeat;
     background-size: cover; 
    padding: 100px 90px 70px 90px;
    min-height: 100%;
    margin-bottom: 150px;
    
}
.coding-image{
    width: 500px;
    margin-top: 120px;
}
.white-Para{
    color: whitesmoke;
    padding-bottom: 40px;
}
p{
    color: #262626;
    font-size: 16px;   
}
#p{
    padding: 20px 5px 30px 5px;
}
ul{
    padding: 10px 20px 30px;
}

.btn{
    text-decoration: none;
    padding: 10px 30px;
    color: #262626;
    background-image: linear-gradient(45deg,#f9c011, #f57906);
    border-radius: 50px;
    font-weight: 700;
   
    
}

/* contact part  */
.contact{
    text-decoration: none;
    padding: 10px 30px;
    color: #262626;
    background-image: linear-gradient(45deg,#f9c011, #f57906);
    border-radius: 50px;
    font-weight: 700;
    width: 25%;
    margin-left: 150px;
    margin-top: 15px;
   
}
.contact a{
    text-decoration: none;
}
.contact-main{
    text-align: center;
    margin: 80px;
    border-radius: 5px;
    margin-top: -0px;
    padding: 60px 60px 100px 60px;
    background-image: linear-gradient(#f57906, #f9c011);
    box-shadow: 10px 10px 50px rgb(187, 196, 209);
}

/* all headings  */
.black-heading{
    color: #262626;
    text-align: center;
    padding: 50px 30px 80px 30px;
}
#black-header2{
    margin-bottom: 80px;
    margin-top: -150px;
    color: #262626;

}
/* my mission card 1 */
.second-section-column1{
    width: 40%;
    padding: 50px 100px 200px 210px;
}
/* my mission card 2 */
.second-section-column2{
    padding: 55px 120px 60px 60px; 
    margin-left: -80px;
}
/* my mission card 3 */
.second-section-column1 img{
    border-radius: 5px;
}

  
img.align-self {
    align-self: center;
}

/* my mission part icon  */
.icon{
    width: 30%;
}


/* community part  */
.project-image{
    width: 500px;
    margin-top: 120px;
    margin-left: 150px;
}

.community-section{
    /* background-image: linear-gradient(#f57906, #f9c011); */
    background-repeat: no-repeat;
     background-size: cover; 
    padding: 100px 90px 70px 90px;
    min-height: 100%;
    margin-bottom: 150px;
   
}
.community-title{
    font-size: 50px;
    line-height: 59px;
    color: black;
    margin-top: -10px;
}
.headline {
    padding-left: 10px;
    line-height: 2.5rem;
    border-left: 5px solid #f9c011;
} 
.community-description{
    color: black;
    margin-bottom: 50px;
}
.half-width {
    width: 50%;
    margin: auto 0;
}

/* offer section  */
.own-website{
    text-align: center;
    margin: 80px;
    border-radius: 5px;
    margin-top: -0px;
    padding: 60px 60px 100px 60px;
    background-image: linear-gradient(#f57906, #f9c011);
    box-shadow: 10px 10px 50px rgb(187, 196, 209);
}


/* contact form part  */
form{
    margin-top: 20px;
}
input {
    width: 70%;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 5px;
}

.input-msg {
    width: 70%;
    padding: 10px 10px 150px 10px;
}
.form-image{
    margin-top: 170px;
    width: 500px;
}

/* footer part  */
footer {
    height: 300px;
    text-align: center;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h1 {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 2.5rem;
}


footer p {
    color: gray;
}